/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.env.backup
.env.production
.phpunit.result.cache
auth.json
yarn-error.log
/.fleet
/.vscode
.DS_Store
/.devcontainer
/infra
azure.yaml
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/storage/logs/*
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
resources/data/viefund_db_schema
/storage/app/bank-entries-sync-status.json
/storage/app/viefund-daily-totals-sync-status.json
/storage/app/*.lock
storage/app/reports
/resources/data/
