/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.env.backup
.env.production
.phpunit.result.cache
auth.json
yarn-error.log
/.fleet
/.vscode
.DS_Store
.env
